.lgpd {
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    background-color: #5180e0;
    color: #fff;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.lgpd a {
    color: #fff;
}
.lgpd button {
    background-color: #15e7eb;
    border-radius: 5;
    color: #fff;
    cursor: pointer;
    padding: 10px 30px;
}